.modal-wrapper {
  position: fixed;
  inset: 0;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #00000066;
  cursor: pointer;
}

.modal-content {
  position: relative;
  z-index: 2;
  background: #ffffff;
  border-radius: 14px;
  padding: 28px;
  border: 1px solid #eeeeee;
}
.modal-remove-tag-cnt {
  max-width: 480px;
  width: 100%;
}

.modal-edit-tag-cnt {
  max-width: 468px;
  width: 100%;
  position: relative;
  .modal-cnt-title {
    text-align: start;
  }
}
.modal-new-tag-cnt{
  max-width: 468px;
  width: 100%;
  position: relative;
  .modal-cnt-title {
    text-align: start;
  }
}
.modal-cnt-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #161616;
}
.modal-cnt-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #161616;
  margin-top: 6px;
  opacity: 0.7;
}
.modal-close{
  font-size: 20px;
  background: #B0B1B5;
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
  transition: .3s;

  &:hover{
    background: blue;
  }

}
.modal-start-shift-cnt{
  max-width: 426px;
  width: 100%;
  position: relative;
}