

$max-width-1920: 1920px;
$max-width-1750: 1750px;
$max-width-1650: 1650px;
$max-width-1500: 1500px;
$max-width-1440: 1440px;

$max-width-1400: 1400px;
$max-width-1200: 1200px;
$max-width-1300: 1300px;
$max-width-991: 991px;
$max-width-767: 767px;
$max-width-576: 576px;
$max-width-400: 400px;
