.traffic-table-wrapper {
  overflow-x: auto;
  border: 1px solid #d9dee3;
  border-radius: 10px;

}
.table-row-time {
  background: #f5f6fb;
}
.table-row-incoming {
  background: #ffffff;
}
.table-row-outgoing {
  background: #ffffff;
}

.traffic-table {
  width: 100%;
  border-collapse: separate;
  font-size: 14px;

  th,
  td {
    padding: 10px 12px;
    border: 1px solid #e4e8ec;
    text-align: center;
    white-space: nowrap;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }

  thead {
    background: #f6f7f9;

    th {
      font-weight: 600;
      color: #161616;
      vertical-align: middle;
      font-size: 16px;
      line-height: 22px;
    }

    .table-incoming {
      gap: 9px;
      height: 46px;

      i {
        font-size: 15px;
        background: #0968d6;
        margin-right: 8px;
      }
    }

    .table-outgoing {
      gap: 9px;
      height: 46px;

      i {
        font-size: 15px;
        background: #1a9e55;
        margin-right: 8px;
        transform: rotate(180deg);
      }
    }
  }

  tbody tr:nth-child(even) {
    background: #fafafa;
  }

  .table-total {
    background: #eef3f7;
  }

  .table-row-avg {
    background: #ffffff;
  }
}
