.auth-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.auth-contianer {
  max-width: 376px;
  width: 100%;
  padding: 0 14px;
  margin: 0 auto;
}
.auth-cnt {
  padding: 28px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 14px;
}
.auth-cnt-titles {
  h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #161616;
  }
  p {
    margin-top: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #161616;
    opacity: 0.7;
  }
}
.auth-inputs-block {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.auth-label {
  width: 100%;
  height: 48px;
  position: relative;
  z-index: 2;

  input {
    width: 100%;
    height: 100%;
    background: #ffffff;
    border: 1px solid #eeeeee;
    border-radius: 8px;
    padding: 13px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    transition: 0.3s;

    &::placeholder {
      opacity: 0.7;
    }

    &:focus {
      border: 1px solid #0d40c2;
    }
    &:hover{
      background: #F8F8F8;

    }
  }

  i {
    font-size: 20px;
    background: #161616;
    position: absolute;
    top: 14px;
    right: 14px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background: #0d40c2;
    }
  }
}

.remember-block {
  margin-top: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  &:hover {
    .remember-icon-bg {
      border: 2px solid #0d40c2;
    }
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #161616;
  }

  &.active {
    .remember-icon-bg {
      background: #0d40c2;
      border: 2px solid transparent;
    }
  }
}

.remember-icon-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #b0b1b5;
  border-radius: 2px;
  transition: 0.3s;
}
.remember-icon-bg i {
  font-size: 16px;
  background: #ffffff;
  transition: 0.3s;
}

.auth-link {
  width: 100%;
  margin-top: 20px;
}
