.employee-chats-search {

  label {
    position: relative;
    z-index: 2;
    height: 48px;
    width: 100%;
    display: block;
    input {
      padding: 12px 12px 12px 46px;
      background: #ffffff;
      border: 1px solid #eeeeee;
      width: 100%;
      height: 100%;
      border-radius: 14px;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: black;
      transition: 0.3s;

      &::placeholder {
        color: #b0b1b5;
      }

      &:focus {
        border: 1px solid #0d40c2;
      }
    }
    i {
      position: absolute;
      top: 12px;
      left: 12px;
      background: #b0b1b5;
      font-size: 24px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background: #0d40c2;
      }
    }
  }
  &:hover{
    input{
  background: #F8F8F8;
    }
  

  }
}