.header {
  border: 1px solid #eeeeee;
  background: #ffffff;
  box-shadow: 0px 0px 20px 0px #0000001a;
  padding: 20px ;
  width: 100%;
  z-index: 10;
}
.header-body {
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.header-messages-link {
  width: 48px;
  height: 48px;
  flex: 0 0 48px;
  border-radius: 100px;
  background: #f5f6fb;
  transition: 0.3s;

  i {
    font-size: 24px;
    background: #161616;
  }
  &:hover {
    background: #e9f1f4;
  }
}
.header-actions {
  gap: 12px;
}
.break-btn {
  padding: 13px 20px;
  background: #f5f3e3;
  border-radius: 100px;
  font-weight: 600;
  font-size: 16px;
  height: 48px;
  color: #806a0d;
  transition: 0.3s;
  border: 1px solid transparent;

  &.active {
    background: #f8f2e2;
    color: #ecbc40;
  }
  &:hover {
    background: #f8f2e2;
    border: 1px solid #ecbc40;
    color: #ecbc40;
  }
}
.dinner-btn {
  font-weight: 600;
  font-size: 16px;
  background: #fbebee;
  border-radius: 100px;
  padding: 13px 20px;
  height: 48px;
  color: #c0333a;
  transition: 0.3s;
  border: 1px solid transparent;

  &.active {
    background: #ffd5dd;
    border: 1px solid #c0333a;
  }
  &:hover {
    background: #ffd5dd;
    border: 1px solid #c0333a;
  }
}
.finish-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  background: #161616;
  border-radius: 100px;
  padding: 13px 20px;
  color: #ffffff;
  height: 48px;
  transition: 0.3s;
  &:hover {
    background: #0d40c2;
  }
}
.admin-panel-link {
  padding: 13px 20px 13px 16px;
  background: #f5f6fb;
  border-radius: 100px;
  border: 1px solid #eeeeee;
  gap: 6px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #161616;
  transition: .3s;

  i {
    font-size: 22px;
    background: #161616;
      transition: 0.3s;

  }
  &:hover{
    background: #161616;
    color: white;

    i{
      background: white;
    }

  }
}
.header-admin-info {
  padding: 8px;
  background: #f5f6fb;
  border-radius: 100px;
  gap: 8px;
}
.header-admin-avatar {
  max-width: 32px;
  height: 32px;
  width: 100%;
}
.header-admin-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.header-admin-time {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.header-exit-link {
  background: #c0333a;
  font-size: 15px;
  margin-left: 18px;
  transition: .3s;

  &:hover{
    background: blue;
  }
}

.h-chat-category-wrapper {
  gap: 12px;
}
.h-chat-category {
  padding: 4px 12px;
  background: #e9f1f4;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #0968d6;
}
.h-chat-author-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #161616;
}
