@use "../../assets/scss/mixin.scss";

.list-employees-block {
  max-width: 475px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 20px 0px #0000001a;
  max-height: 100vh;
  height: calc(100vh - 90px);
  overflow: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;

  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-track {
    background: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 6px;
  }

  @include mixin.screen-max-width-1500 {
    max-width: 405px;
  }
}
.list-employees-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #161616;
  opacity: 0.7;
}
.list-employees-search {
  margin-top: 12px;
}
.list-employees-items {
  margin-top: 12px;
  gap: 8px;

  &.back-link-here {
    max-height: 90vh;
    overflow: auto;
    padding: 0 0 20px 0;

    &::-webkit-scrollbar {
      width: 3px;
    }
    &::-webkit-scrollbar-track {
      background: #ffffff;
    }

    &::-webkit-scrollbar-thumb {
      background: gray;
      border-radius: 6px;
    }
  }
}
.list-employee-item {
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  border: 1px solid #eeeeee;
  gap: 12px;
}
.employee-item-main {
  gap: 12px;
  flex-wrap: wrap;
}
.employee-item-img {
  max-width: 48px;
  width: 100%;

  img {
    object-fit: cover;
    border-radius: 50%;
  }
}
.employee-item-info {
  p {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #161616;
  }
  span {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #b0b1b5;
  }
}
.employee-item-status {
  padding: 6px 10px 6px 6px;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: auto;
  border-radius: 100px;

  span {
    width: 6px;
    height: 6px;
    display: block;
    border-radius: 10px;
  }
  p {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }

  &.active {
    background: #e9f1f4;

    span {
      background: #0968d6;
    }
    p {
      color: #0968d6;
    }
  }
  &.break {
    background: #f8f2e2;

    span {
      background: #ecbc40;
    }
    p {
      color: #ecbc40;
    }
  }
  &.dinner {
    background: #fbebee;

    span {
      background: #c0333a;
    }
    p {
      color: #c0333a;
    }
  }
  &.inactive {
    background: #f6f6f6;

    span {
      background: #161616;
    }
    p {
      color: #161616;
    }
  }
}

.e-back-link-wrapper {
  padding: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 14px 14px 0 0;
  margin: 8px -20px -20px -20px;
  margin-top: auto;
}

.employees-back-link {
  gap: 6px;
  padding: 13px;
  background: #f5f6fb;
  border-radius: 100px;
  gap: 6px;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #161616;

  i {
    font-size: 22px;
    background: #161616;
  }
}
