.chats-calendar-header {
  cursor: pointer;
  gap: 10px;
  padding: 9px 16px 9px 20px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 100px;
  max-width: max-content;


  p {
    color: #161616;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
  }
  i {
    background: #161616;
    font-size: 11px;
    transition: .3s;

  }
}


.chats-calendar-wrapper {
  position: relative;

  .chats-calendar-main {
    opacity: 0;
    visibility: hidden;

  }

  &.active {
    .chats-calendar-main {
        opacity: 1;
        visibility: visible;
    }
    .chats-calendar-header i{
        transform: rotate(180deg);
    }
  }
}



.chats-calendar-main{
    position: absolute;
    top: 50px;
    right: 0;
    padding: 16px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 12px;
    box-shadow: 0px 10px 60px 0px #0000001A;
    transition: .3s;
}