.time-range {
  width: 100%;
  margin-top: 12px;

  &.active {
    .time-range-inputs{
        display: flex;
    }
  }
}

.time-range-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;

  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #161616;
  }
}

.time-range-inputs {
  display: none;
  align-items: center;
  gap: 4px;
  margin-top: 8px;

  input[type="time"] {
    width: 64px;
    height: 26px;

    border-radius: 3px;
    border: none;
    background: #f6f6f6;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #161616;


    

    &:disabled {
      opacity: 0.5;
    }
  }

  .dash {
    font-size: 24px;
    font-weight: 500;
  }
}

.time-switch {
  position: relative;
  max-width: 34px;
  width: 100%;
  height: 20px;

  input {
    display: none;
  }

  .time-slider {
    position: absolute;
    inset: 0;
    background: #b0b1b5;

    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
  }

  .time-slider::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 2px;
    top: 2px;
    background: #ffffff;
    border-radius: 50%;
    transition: 0.3s;
  }

  input:checked + .time-slider {
    background: #0d40c2;
  }

  input:checked + .time-slider::before {
    transform: translateX(15px);
  }
}

input[type="time"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;

  &::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }

  &::-webkit-clear-button {
    display: none;
  }

  &::-webkit-inner-spin-button {
    display: none;
  }

  &::-webkit-outer-spin-button {
    display: none;
  }
}
